#div-1,
#div-4,
#div-7,
#div-10,
#div-13 {
  background-color: #ff5c35;
}

#div-2 {
  position: static;
  background-color: #0068b1;
}

#div-3,
#div-6,
#div-9,
#div-12,
#div-15 {
  background-color: #4fb06d;
}

#div-1,
#div-2,
#div-3,
#div-4,
#div-5,
#div-6,
#div-7,
#div-8,
#div-9,
#div-10,
#div-11,
#div-12,
#div-13,
#div-14,
#div-15 {
  width: 75px;
  height: 75px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 75px;
  color: white;
  font-size: 24px;
}

#div-5 {
  position: relative;
  top: 30px;
  left: 30px;
  background-color: #0068b1;
}

#div-8 {
  position: fixed;
  top: 700px;
  left: 300px;
  background-color: #0068b1;
}

#div-11 {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: #0068b1;
}

#container {
  background-color: #b6c7d6;
  width: 200px;
  height: 150px;
  position: relative;
}

#div-14 {
  position: -webkit-sticky;
  position: sticky;

  top: 10px;
  background-color: #0068b1;
}

.generic {
  background-color: lightgray;
}

.sticky-container {
  height: 1500px;
}
