.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* this property work only if the flex 1 property of below is not present*/
  align-items: center;
  height: 300px;
}
.child {
  flex: 1; /* property ensures each child element grows and shrinks equally within the container. */
  padding: 20px;
  color: #fff;
  text-align: center;
}

.red {
    /* flex: 2!important; */
  background-color: #ff0000;
}

.green {
  background-color: #009dff;
}

.blue {
  background-color: #0000ff;
}

.yellow {
  background-color: #bf4d15;
}

.purple {
  background-color: #800080;
}
